* {
	font-family: sans-serif;
	line-height: 1.4;
	color: #000;
	margin: 0;
	padding: 0;
}

/* PRODUCT */
.product {
	border: 4px solid black;
	width: 825px;
	margin: 50px auto;
	position: relative;
}

.product-title {
	background-color: #f7f7f7;
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
	padding: 15px;
}

/* PRODUCT INFORMATION */
.price {
	font-size: 24px;
}

.shipping {
	text-transform: uppercase;
	color: #777;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
}

.sale {
	background-color: #ec2f2f;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 7px 15px;
	display: inline-block;
	position: absolute;
	top: -17px;
	left: -34px;
}

.more-info:link,
.more-info:visited {
	color: black;
	display: inline-block;
	margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
}

.color {
	background-color: black;
	height: 22px;
	width: 22px;
	display: inline-block;
	margin-right: 10px;
}

.color-blue {
	background-color: #2f6ee2;
}

.color-red {
	background-color: #ec2f2f;
}

.color-yellow {
	background-color: #f0bf1e;
}

.color-grenn {
	background-color: #90cc20;
}

.color-brown {
	background-color: #885214;
}
/* PRODUCT DETAILS */
.details-title {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 30px;
}

.details-list {
	list-style: square;
	margin-left: 20px;
}

.details-list li {
	margin-bottom: 10px;
}

button {
	background-color: #000;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}

/* BUTTON */
.add-cart {
	background-color: #000;
	border: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border-top: 4px solid #000;
}

.add-cart:hover {
	background-color: #fff;
	color: #000;
}
